.banner h1 {
  margin: auto;
  font-weight: bold;
  height: 400px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner p {
  font-size: 40px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
