.normal {
  background: rgb(160,162,159);
  background: radial-gradient(circle, rgba(160,162,159,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.fire {
  background: rgb(251,165,76);
  background: radial-gradient(circle, rgba(251,165,76,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.water {
  background: rgb(83,157,223);
  background: radial-gradient(circle, rgba(83,157,223,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.grass {
  background: rgb(95,189,88);
  background: radial-gradient(circle, rgba(95,189,88,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.flying {
  background: rgb(161,187,236);
  background: radial-gradient(circle, rgba(161,187,236,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.fighting {
  background: rgb(211,66,95);
  background: radial-gradient(circle, rgba(211,66,95,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.poison {
  background: rgb(183,99,207);
  background: radial-gradient(circle, rgba(183,99,207,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.electric {
  background: rgb(242,217,78);
  background: radial-gradient(circle, rgba(242,217,78,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.ground {
  background: rgb(218,124,77);
  background: radial-gradient(circle, rgba(218,124,77,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.rock {
  background: rgb(201,187,138);
  background: radial-gradient(circle, rgba(201,187,138,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.psychic {
  background: rgb(250,133,129);
  background: radial-gradient(circle, rgba(250,133,129,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.ice {
  background: rgb(117,208,193);
  background: radial-gradient(circle, rgba(117,208,193,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.bug {
  background: rgb(146,188,44);
  background: radial-gradient(circle, rgba(146,188,44,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.ghost {
  background: rgb(95,109,188);
  background: radial-gradient(circle, rgba(95,109,188,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.steel {
  background: rgb(86,149,163);
  background: radial-gradient(circle, rgba(86,149,163,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.dragon {
  background: rgb(12,105,200);
  background: radial-gradient(circle, rgba(12,105,200,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.dark {
  background: rgb(89,87,97);
  background: radial-gradient(circle, rgba(89,87,97,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}

.fairy {
  background: rgb(238,144,230);
  background: radial-gradient(circle, rgba(238,144,230,1) 0%, rgba(233,148,148,0.6530987394957983) 100%);
}
