
<h1>Pokedex</h1>
<div class="container">
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-4">
        <%= render "shared/index_card", pokemon: pokemon %>
      </div>
    <% end %>
  </div>
</div>
